<div class="container mt-5 width-200">

<p><%= link_to "< Back to Lists", lists_path%></p>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center">

<h1>Add a new List</h1>

<%= render "form", list: @list %>
<%= simple_form_for @list do |f| %>
        <%= f.submit "Create List", class: "btn border mt-3" %>
      <% end %>
    </div>
  </div>
</div>

